html, body {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.App {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #000 !important;
}

